<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Depot" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
   <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

 <body class="text-gray-800">

    <!-- User Nav -->
    <!-- Site Header -->
    <header class="bg-green-700 text-white px-6 py-4 flex items-center space-x-4">
      
    <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf', class: "h-20 w-70"%>
       
      <h1 class="text-xl font-semibold"><%= @page_title %></h1>
       <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: "hover:text-red-500" %>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path, class: "hover:text-blue-500" %>
    <%= link_to 'Login', new_user_session_path, class: "hover:text-blue-500" %>
  <% end %>
    </header>

    <section class="flex min-h-screen">
      <nav class="bg-green-900 p-6 w-48">
        <ul class="text-gray-300 space-y-2 text-sm">
          <li><a href="/" class="hover:text-white">Home</a></li>
          <li><a href="/questions" class="hover:text-white">Questions</a></li>
          <li><a href="/news" class="hover:text-white">News</a></li>
          <li><a href="/contact" class="hover:text-white">Contact</a></li>
        </ul>
      </nav>

      <main class="flex-1 p-6">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
